<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>TranscribeMe</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="styles/docs.css">
        <link rel="stylesheet" type="text/css" href="styles/font-awesome.css">

        {{#if showTests}}
            <link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
        {{/if}}
    </head>
    <body>
        <header>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a name="logo" href="/" class="brand" alt="TranscribeMe">SITE'S LOGO GOES HERE</a>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {{#if user}}
                        <p class="navbar-text">
                        <strong>Hi,</strong> 
                        <img src="{{user.avatar}}" width="20" height="20"> 
                        {{user.username}}
                        </p>
                        </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        <li>
                        <a href="/logout">Log Out</a>
                        </li>
                    {{else}}
                        <a href="/login">Sign In</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </header>

        <content>
            <div class="inner_content">
                {{{ body }}}
            </div>
        </content>
        
        <footer>
            <div class="inner_content">
                TranscribeMe - Copyright 2014 - Kevin Keller
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!-- Run the test scripts if triggered -->
        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/global-tests.js"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}

    </body>
</html>